@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);


body{
  background: #1A2332;
  color: #CB9650;
  font-family: 'Alegreya', serif;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}


/* PORTFOLIO STYLING */
.fig1 {
  background: orange;
  height: 121px;
  position: relative;
  overflow: hidden;
  width: 362px;
  display: inline-block;
}
.fig2 {
  background: orange;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 360px;
  display: inline-block;
}

.fig3 {
  background: orange;
  height: 286px;
  position: relative;
  overflow: hidden;
  width: 182px;
  display: inline-block;
}

figcaption {
  background: green;
  bottom: 0;
  padding: 10px;
  position: absolute;
  width: 280px;
}

/* First Frame  */
.fig1 figcaption {
  opacity: 1;
  bottom: -38px;
  width: 362px;
  transition: all 1s;
}

/* Last Frame */
.fig1:hover figcaption {
  bottom: 0;
  opacity: 1;
}

/* First Frame  */
.fig2 figcaption {
  opacity: 1;
  bottom: -56px;
  width: 360px;
  transition: all 1s;
}

/* Last Frame */
.fig2:hover figcaption {
  bottom: 0;
  opacity: 1;
}

/* First Frame  */
.fig3 figcaption {
  opacity: 1;
  bottom: -74px;
  width: 160px;
  transition: all 1s;
}

/* Last Frame */
.fig3:hover figcaption {
  bottom: 0;
  opacity: 1;
}
/* PORTFOLIO STYLING */