/* Main Stylesheet */
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);
/* Global Styling */

body{
  background: #1A2332;
  color: #CB9650;
  font-family: 'Alegreya', serif;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

p, figcaption {
  color: #CB9650;
}

/* CSS for the main navigation */
.MainNav li {
  display: inline;
  padding-right: 10px;
  font-size: 1.25em;
}

.onHomePage {
	color: #864446;
}

.onBioAndResumePage {
	color: #864446;
}

.onPortfolioPage {
	color: #864446;
}

ul {
/*  remove the dots in the list  */
  list-style: none;
/*  Center list items by removing the indent  */
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
/*   padding-top: -50px; */
  
}

.LH1, .LH2, .LH3, .LH4, .LH5 {
  color: #864446;
  font-size: 1.5em;
  width: 100%;
}

.list1, .list2, .list3, .list4, .list5 {
/* .LH2 + .list2 { */
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 0px;
  transition: all 0.2s;
}

.LH1:hover + .list1,
.LH2:hover + .list2,
.LH3:hover + .list3,
.LH4:hover + .list4,
.LH5:hover + .list5 {
  height: inherit;
  display: block;
  font-size: 1em;
}

.profileIMG {
  width: 50%;
  border-radius: 50%;
}

h1, h2 {
  color: #864446;
}

/* Typography */

/* Navigation */
nav a {
  color: #CB9650;
  text-transform: none;
  text-decoration: underline;
  transition: all 0.5s;
}

a:hover {
  color: #864446;
}

.div1 figcaption, 
.div2 figcaption,
.div3 figcaption,
.div4 ul,
.div5 ul{
  height: 0px;
  opacity: 0;
  transition: all 0.5s;
}

.div1:hover figcaption, 
.div2:hover figcaption,
.div3:hover figcaption{
  height: 100px;
  opacity: 1;
}

.div4:hover ul,
.div5:hover ul{
  height: 170px;
  opacity: 1;
}

/* PORTFOLIO STYLING */
.fig1 {
  background: #1A2332;
  height: 121px;
  position: relative;
  overflow: hidden;
  width: 362px;
  display: inline-block;
}
.fig2 {
  background: #1A2332;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 360px;
  display: inline-block;
}

.fig3 {
  background: #1A2332;
  height: 286px;
  position: relative;
  overflow: hidden;
  width: 182px;
  display: inline-block;
}

figcaption {
  background: #864446;
  color: #CB9650;
  bottom: 0;
  padding: 10px;
  position: absolute;
  width: 280px;
}

/* First Frame  */
.fig1 figcaption {
  opacity: 1;
  bottom: -50px;
  width: 362px;
  transition: all 1s;
}

/* Last Frame */
.fig1:hover figcaption {
  bottom: 0;
  opacity: 1;
}

/* First Frame  */
.fig2 figcaption {
  opacity: 1;
  bottom: -80px;
  width: 360px;
  transition: all 1s;
}

/* Last Frame */
.fig2:hover figcaption {
  bottom: 0;
  opacity: 1;
}

/* First Frame  */
.fig3 figcaption {
  opacity: 1;
  bottom: -100px;
  width: 165px;
  transition: all 1s;
}

/* Last Frame */
.fig3:hover figcaption {
  bottom: 0;
  opacity: 1;
}
/* Overlay off */
.overlay {  
    /* stretch to fill any size     */
    width: 0px;
    height: 0px;
  
    /* hide temporarily   */
    position: fixed;
    overflow: hidden;
    z-index: -1;

    /* transitions     */
    transition: background 0.3s;
  
    /* Center Content     */
  text-align: center;
}

.overlay a {
	color: #CB9650;
}

/* Overlay On */
.overlay:target {
    background: rgba(26, 35, 50, .9);
  
    /* stretch to fill any size     */
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;    
  
    /* position on top of everything     */
    z-index: 1;
}

/* Overlayed Full Size Image */
.overlay:target img {
  box-shadow: 0 0 20px #333;
  
  margin-top: 2%;
  max-width: 80%;
  max-height: 80%;
  /* apply animation   */
  animation: scaleUp 0.3s;
}

/* Keyframe Animation */
@keyframes scaleUp {
  0% { 
	transform: scale(0); 
	}

  100% { 
	transform: scale(1); 
	}
}

/* PORTFOLIO STYLING */
















